.notif-list{
    background-color: #E6D9A2;
    margin-left: auto;
    margin-right: auto;
}

.notif-list h2 {
    text-align: center;

}

.notif-list button {
    background-color: #CB80AB;
    color: #F5F7F8;
    border-radius: 12px;
    border: none;
}