body {
    background-color: #F5F7F8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Container for the entire explore page */
.profile-page {
    background-color: #F5F7F8;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.edit-profile-button,
.add-new-item-button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #624E88;
  color: #FFFFFF;
  font-size: 1em;
  /* cursor: pointer; */
  transition: background-color 0.3s ease;
}

.user-info-section {
  text-align: center;
  margin-bottom: 40px;
}

.user-name {
  font-size: 5em;
  color: #5d5a63;
}


/* Title section of the explore page */
.profile-title {
    background-color: #624E88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Grid layout for items */
.items-grid {
    width: 55%; /* Middle section to be larger */
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
}

/* Card style for explore items */


/* Card style for individual items */
.item-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image styling within item cards */
.item-card img {
    max-width: 100%;
    border-radius: 10px;
}

/* Title styling within item cards */
.item-card h2 {
    color: #624E88;
    font-size: 1.2em;
    margin: 10px 0;
}

/* Paragraph styling within item cards */
.item-card p {
    color: #333333;
    font-size: 1em;
}
/* .explore-page {
    background-color: #F5F7F8;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.explore-title {
    background-color: #624E88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
} */

.items-grid {
    width: 55%; /* Middle section to be larger */
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
}

.explore-card {
    background-color: #8967B3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    color: #F5F7F8;
}

.item-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card img {
    max-width: 100%;
    border-radius: 10px;
}

.item-card h2 {
    color: #624E88;
    font-size: 1.2em;
    margin: 10px 0;
}

.item-card p {
    color: #333333;
    font-size: 1em;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #CB80AB;
    border-radius: 5px;
    font-size: 1em;
    flex-grow: 1;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}
























