/* Container for the entire profile page */
body {
    background-color: #F5F7F8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  .profile-page {
    background-color: #F5F7F8;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-title {
    background-color: #624E88;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}
  
  /* Header section containing user info and buttons */
  .header-section {
    display: flex;
    flex-direction: row; /* Changed from row layout to column */
    align-items: center;
    margin-bottom: 40px;
    text-align: center; /* Center text content */
  }
  
  /* User info section */
  .user-info-section {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .user-name {
    font-size: 2em;
    color: #624E88;
  }
  
  
  /* Buttons section */
  .buttons-section {
    display: flex;
    gap: 10px;
  }
  
  /* Styling for buttons */
  .edit-profile-button,
  .add-new-item-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #624E88;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-profile-button:hover,
  .add-new-item-button:hover {
    background-color: #8967B3;
  }
  
  /* Grid layout for items */
  .items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  /* Card style for individual items */
  .item-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
  }
  
  /* Image styling within item cards */
  .item-card img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  /* Title styling within item cards */
  .item-card h2 {
    font-size: 1.2em;
    color: #624E88;
    margin: 10px 0;
  }
  
  /* Paragraph styling within item cards */
  .item-card p {
    color: #333333;
    font-size: 1em;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .header-section {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .buttons-section {
      margin-top: 20px;
    }
  
    .items-grid {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .items-grid {
      grid-template-columns: 1fr;
    }
  } 
  